html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url(p.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-size: 18px;
}

/* start navbar */
.navbar {
  background-color: whitesmoke;
}

.navbar-brand {
  font-weight: bold;
}

span:first-child {
  color: darkmagenta;
  font-size: 40px;
}

span:last-child {
  color: #d82dd8;
  font-size: 25px;
}

.nav-item {
  font-size: medium;
}

.nav-link {
  color: #d82dd8;
}

.nav-item:hover {
  background-color: #d3d2c9;
}

.fa.fa-heart .red {
  margin-bottom: auto;
}

.red {
  color: #d82dd8;
  background-color: snow;
}

/*
.active >.nav-link{
  background-color: blue;
}
*/
/* start slider */
/* start card */
.cards {
  margin-top: 55px;
}

.cards h1 {
  text-align: center;
  margin-bottom: 33px;
  font-size: 40px;
  font-weight: bold;
}

.card.mb-3 {
  /* background-image: url(b.png); */
  margin: 0 auto;
  background-size: cover;
}

.row .no-gutters {
  max-width: 900px;
}

/* start features */
.features {
  padding-top: 10px;
}

i {
  background-color: #f32db1;
  color: wheat;
  padding: 12px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 20%;
}

i:hover {
  /* background-color: #bd566e; */
  border-radius: 0%;
}

h3 {
  color: #035a77;
}

.col-md-4 {
  /* border: 1px solid; */
  /* background-image: url(icon.jpg); */
}

/* start  featured work  */
.card-img {
  margin-top: 96px;
  width: 80%;
}

#PROJECTEN {
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-image: url(s.png);
  width: 100%;
  opacity: 0.8;
}

.featured-work {
  padding: 100px 0;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto 15px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.row {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.featured-work.shuffile-images {
  border: 4px solid black;
}

/*
.featured-work ul li{
   max-width:120px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color:#adc2eb;
    margin-left: 12px;
    padding: 9px;
    transition:all 0.5s ease-in;

}
*/
.featured-work ul li:hover {
  background-color: #adc2eb;
  border-radius: 50px;
}

.featured-work ul li.active {
  background-color: #adc2eb;
  color: white;
}

.shuffile-images {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row .col-md-4 {
  margin-bottom: 12px;
}

.foto {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  margin-bottom: 12px;
  width: 70%;
  border-radius: 12%;
}

.foto:hover {
  opacity: -1;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

/*

 .foto:hover{
     position: absolute;
     width: 100%;
     height: 100%;
     transition: all 1s ease-in;
     opacity: 0;
     background-color: aqua;
 }
*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: none;
  list-style-type: none;
}

p {
  color: black;
}

.timeline-image {
  text-align: center;
}

/*start footer*/
.footer {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer h5 {
  font-weight: bold;
  color: black;
  text-align: center;
}

.footer p {
  font-weight: bold;
  color: black;
  text-align: center;
  font-style: italic;
}

i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}

.social-pet {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: 100px;
}

.info-footer {
  background-color: whitesmoke;
  color: black;
  text-align: center;
}
/*# sourceMappingURL=3.css.map */
