
body{
  
}

.container{

}
/* start navbar */
.navbar {
background-color: black;
}  

.navbar-brand{
 font-weight: bold;
}
span:first-child{
    color: rgb(247, 183, 22);
    font-size: 40px;
}
span:last-child{
     color: rgb(216, 45, 216);
     font-size: 25px;
}
.nav-item{
   font-size: medium;
}
.nav-link{
    color:#d82dd8;
}
.nav-item:hover{
    background-color: rgb(211, 210, 201);
}
.fa.fa-heart{
    margin-bottom: auto;
}
/*
.active >.nav-link{
  background-color: blue;
}
*/

.navbar-toggler .navbar-toggler-icon{
    color: rgb(177, 67, 67);
    background-color: black;
}
/* start slider */
// .carousel-inner{
   
// }
/* start card */
.cards{
    margin-top: 55px;
}
.cards h1{
    text-align: center;
    margin-bottom: 33px;
    font-size: 40px;
font-weight: bold;
}
.card.mb-3{
 background-color: wheat;
  margin: 0 auto ;
}
.row .no-gutters{
    max-width: 900px;
}
/* start features */
.features {
    padding-top:10px;
}
i{
    background-color: red;
    color: wheat;
    padding: 12px;
    margin-bottom: 10px;
}
 h3{
    color: rgb(3, 90, 119);
}

/* start  featured work  */
.featured-work {
 padding: 100px 0;
}
h2{
font-size: 40px;
font-weight: bold;
margin-bottom: 30px;
}
p{
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.row{
    margin-top:60px;
}
.featured-work.shuffile-images {
    border: 4px solid black;
  }
.featured-work ul li{
  
    height: 40px;
 border: 1px solid white;
  background-color:#adc2eb;
    margin-left: 12px;
    padding: 9px;
    transition:all 0.5s ease-in;
}
.featured-work ul li:hover{
    background-color:#adc2eb;
    border-radius:50px;
}
.featured-work ul li.active{
  background-color: #adc2eb;
  color: white;
}
 .shuffile-images{
margin-top: 20px;
margin-bottom: 20px;
 }
  
 .row .col-md-4{
     margin-bottom: 12px;
 }
 .foto{
     transition: all 1.5s ease-in-out;
     margin-bottom: 12px;
     width: 70%;
     border-radius: 12%;
 }
 .foto:hover{

     opacity: -1;
     transform:translateX(20px) ;
 }

/*

 .foto:hover{
     position: absolute;
     width: 100%;
     height: 100%;
     transition: all 1s ease-in;
     opacity: 0;
     background-color: aqua;
 }
*/

//  
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: none;
    list-style-type: none;
  }



//   .timeline .list1{
//     left: 50%;
//     display: flex;
//     width: 100px;
//     height: 100px;
//     margin-left: -50px;
    
//   }



.timeline-image{
    text-align: center;
}

/*start footer*/
.footer{
    background-color:#343a40!important;
    display: flex;
    margin-top: 12px;
}
.footer h5{
font-weight: bold;
color: white;
text-align: center;
padding-top: 20px;

}
.footer p{
    font-weight: bold;
    color: white;
    text-align: center;   
}

i{
  
border-radius: 50%;

}
.social-pet{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 100px;
   
}
.info-footer{
    background-color:#343a40!important ;
    color: white;
    text-align: center;
}